/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
*{
	/* border:1px solid red; */
}
body{
	margin: 0 auto;
	width: 880px;
	position: relative;
}
.navwrapper{
	background-color: whitesmoke;
	position: sticky;
	overflow: hidden;
	top: 0;
	z-index: 1337;
}
nav {
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: space-around;
	align-items: center;
}
nav a{
	text-decoration: none;
	color: lightgrey;
	text-align: center;
	transition:all 0.6s;
}
nav a:hover{
	color: blue;
}
.logo{
	vertical-align: middle;
}
.top-header{
	display: flex;
	justify-content: flex-end;
	padding: 8% 0%;
}
.serv-header{
	margin: auto;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 3% 0%;
	width: 100%;
}

.innovation-button{
	padding: 0% 10%;
}
h1{
	font-size: 70px;
	text-align: center;
}
.get-started{
	border: 1px solid black;
	padding: 3px 25px;
	width: 45%;
	margin: 0 auto;
	text-align: center;
}
h2 {
	font-size: 18px;
	text-align: left;
}
h3 {
	font-size: 28px;
	text-align: left;
}
.feature-content{
	border-top: 1px solid black;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 3% 0%;
	width: 100%;
}
.features {
	/*border: 2px solid green;*/
	width: 49%;
	padding: 0% 3% 0% 0%;
	text-align:left;
}
.feature-content2{
	border-top: 1px solid black;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 3% 0%;
	width: 100%;
}
.features2 {
	text-align: left
	padding: 0% 5% 0% 0%;
}
.features3 {
	margin: 20px 0px;
	border: 2px solid black;
	background-color: whitesmoke;
	width: 47.5%;
	padding: 3%;
	text-align:left;
}
.bottom-content{
	border-bottom: 1px solid black;
	display: flex;
	padding: 3% 0%;
	width: 100%;
}
.learn {
	border: 1px solid black;
	border-radius: 4px;
	padding: 8px 25px;
	width: 37%;
	margin: 8px 0px;
	font-size: 12px;
	text-align: center;
}
.contact{
/*	border: 2px solid green;*/
	display:flex;
	flex-direction: column;
}
ul{
	list-style-type:square;
	padding-left: 1em;
}
footer {
	text-align: center;
	padding: 3% 0%;
}